.events__container {
  grid-template-rows: 13vh 57vh;
  grid-template-columns: 100%;
  row-gap: 1rem;
  background-color: var(--white-color);
  box-shadow: 0 12px 24px var(--shadow-color);
  border-radius: 1rem;
}

@media screen and (min-width: 576px) {
  .events__container {
    grid-template-columns: 320px;
    justify-content: center;
  }
}

.carousel {
  position: relative;
  padding-block: 1rem;
}

.prev__button,
.next__button {
  position: absolute;
  cursor: pointer;
  font-size: 1.5rem;
  background-color: transparent;
  top: 60%;
  transform: translateY(-50%);
}

.prev__button {
  left: 1%;
}

.next__button {
  right: 1%;
}

.carousel__track-container {
  overflow-x: hidden;
  scrollbar-width: none;
}

.carousel__track {
  display: flex;
}

.carousel__slide {
  flex: 0 0 100%;
  padding-inline: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.carousel__slide button {
  color: var(--first-color-light);
  background-color: transparent;
  cursor: pointer;
}

.carousel__slide button:hover {
  color: var(--first-color-alt);
}

.map {
  z-index: var(--z-tooltip);
  border-top: 1px solid var(--first-color-alt);
  border-radius: 0 0 1rem 1rem;
}
