.event__article-container {
  grid-template-columns: 100%;
}

@media screen and (min-width: 576px) {
  .event__article-container {
    grid-template-columns: 320px;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .event__article-container {
    grid-template-columns: 640px;
    justify-content: center;
  }
}

@media screen and (min-width: 1150px) {
  .event__article-container {
    grid-template-columns: 1024px;
    justify-content: center;
  }
}

.map__container {
  grid-template-rows: 1fr 4fr;
  grid-template-columns: 100%;
  background-color: var(--white-color);
  box-shadow: 0 12px 24px var(--shadow-color);
  border-radius: 1rem;
  padding-bottom: 1rem;
}

@media screen and (min-width: 576px) {
  .map__container {
    grid-template-columns: 320px;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .map__container {
    grid-template-rows: none;
    grid-template-columns: 150px 450px;
    column-gap: 1rem;
    justify-content: center;
    padding-block: 2rem;
  }
}

@media screen and (min-width: 1150px) {
  .map__container {
    grid-template-rows: none;
    grid-template-columns: 260px 680px;
    justify-content: center;
  }
}

.slider__wrapper-map {
  position: relative;
}

.slider__wrapper-map .slide__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 25px;
  width: 25px;
  z-index: var(--z-tooltip);
  cursor: pointer;
  font-size: 1.3rem;
  background-color: var(--first-color-alt);
  color: var(--white-color);
  border-radius: 50%;
  display: grid;
  place-items: center;
}

@media screen and (min-width: 768px) {
  .slider__wrapper-map .slide__button {
    display: none;
  }
}

.slider__wrapper-map .slide__button#prev__slide {
  left: 10px;
}

.slider__wrapper-map .slide__button#next__slide {
  right: 10px;
}

.slider__wrapper-map .location__list {
  display: flex;
  overflow-x: hidden;
  scrollbar-width: none;
}

@media screen and (min-width: 768px) {
  .slider__wrapper-map .location__list {
    flex-direction: column;
    row-gap: 1.2rem;
    max-height: 500px;
    scrollbar-width: auto;
    scroll-padding: 24px;
    overflow-y: scroll;
  }
}

@media screen and (min-width: 1150px) {
  .slider__wrapper-map .location__list {
    max-height: 400px;
  }
}

.slider__wrapper-map .location__list::-webkit-scrollbar {
  display: none;
  width: 0.2rem;
}

@media screen and (min-width: 768px) {
  .slider__wrapper-map .location__list::-webkit-scrollbar {
    display: inherit;
  }
}

.slider__wrapper-map .location__list .location__item {
  flex: 0 0 100%;
  height: 6rem;
  place-items: center;
}

@media screen and (min-width: 768px) {
  .slider__wrapper-map .location__list .location__item {
    place-items: unset;
    border-top: 1px var(--first-color-light) solid;
    margin-right: 1rem;
    padding-inline: 0.4rem;
  }

  .slider__wrapper-map .location__list .location__item:last-child {
    padding-bottom: 1.2rem;
    border-bottom: 1px var(--first-color-light) solid;
  }
}

.slider__wrapper-map .location__item p {
  text-align: center;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .slider__wrapper-map .location__item p {
    text-align: start;
    font-size: 0.7rem;
  }
}

@media screen and (min-width: 1150px) {
  .slider__wrapper-map .location__item p {
    text-align: start;
    font-size: var(--normal-font-size);
  }
}

.slider__wrapper-map .location__item .location__item-title {
  font-size: 1.25rem;
  color: var(--title-color);
}

@media screen and (min-width: 768px) {
  .slider__wrapper-map .location__item .location__item-title {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1150px) {
  .slider__wrapper-map .location__item .location__item-title {
    font-size: 1.35rem;
  }
}

.map {
  z-index: var(--z-tooltip);
}
