@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Briem+Hand:wght@400;500;600;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;900&display=swap");

:root {
  --header-height: 3.5rem;

  /* Colors */
  --hue: 34;
  --first-color: hsl(var(--hue), 40%, 34%);
  --first-color-alt: hsl(var(--hue), 37%, 30%);
  --first-color-light: hsl(var(--hue), 45%, 45%);
  --title-color: hsl(var(--hue), 24%, 16%);
  --text-color: hsl(var(--hue), 8%, 45%);
  --text-color-light: hsl(var(--hue), 8%, 60%);
  --white-color: hsl(0, 0%, 100%);
  --body-color: hsl(var(--hue), 25%, 99%);
  --container-color: hsl(0, 0%, 100%);
  --shadow-color: hsla(var(--hue), 90%, 30%, 0.1);

  /* Font */
  --body-font: "Briem Hand", sans-serif;
  --biggest-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /* Font weight */
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 900;

  /* z-index */
  --z-back: -1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

@media screen and (min-width: 1150px) {
  :root {
    --biggest-font-size: 4.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1.125rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/* Global styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  line-height: 1.15;
}

body,
input,
textarea,
button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
  transition: background-color 0.4s;
}

input,
button,
textarea {
  border: none;
  outline: none;
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Reusable classes */

.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

@media screen and (max-width: 320px) {
  .container {
    margin-inline: 1rem;
  }
}

@media screen and (min-width: 1150px) {
  .container {
    margin-inline: auto;
  }
}

.grid {
  display: grid;
}

.section {
  padding-block: 5rem 1rem;
}

@media screen and (min-width: 1150px) {
  .section {
    padding-block: 7rem 2rem;
  }
}

.section__title {
  font-size: var(--h1-font-size);
  text-align: center;
  margin-bottom: 2rem;
}

@media screen and (min-width: 1150px) {
  .section__title {
    margin-bottom: 3.5rem;
  }
}

.main {
  overflow: hidden;
}

.button {
  display: inline-block;
  background-color: var(--first-color);
  color: var(--white-color);
  font-weight: var(--font-semi-bold);
  padding: 0.5rem 2rem;
  margin-top: 1rem;
  transition: background-color 0.4s;
}

.button:hover {
  background-color: var(--first-color-alt);
  box-shadow: 0 10px 30px var(hsla(var(--hue), 90%, 30%, 0));
}

.button:is(:disabled) {
  background-color: var(--first-color-light);
  cursor: wait;
}
